nav{
    background: #d3d3d3;
    text-align: center;
    width: 100%;
}

nav ul li{
    display: inline-block;
    margin: 15px;
}

nav ul li a{
    color: #009900;
    text-decoration: none;
    font-family: "Helvetica", "sans-serif";
    padding: 10px;
}

a:hover{
    border-radius: 10px;
    background-color: #009900;
    color: white;
}