@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<div class="container-fluid w-25 mx-auto justify-content-center">
    <div class="text-center my-3"><h1>Login</h1></div>
    <hr />
    <form id="account" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <div class="text-center font-weight-bold"><label asp-for="Input.Username"></label></div>
            <input asp-for="Input.Username" class="form-control" />
            <span asp-validation-for="Input.Username" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="text-center font-weight-bold"><label asp-for="Input.Password"></label></div>
            <input asp-for="Input.Password" class="form-control" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <hr />
        <div class="form-group container-fluid text-center">
            <div>
                <div class="checkbox">
                    <label asp-for="Input.RememberMe">
                        <input asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
            </div>
            <hr />
            <div class="form-group">
                <button type="submit" class="btn btn-primary bg-eventures text-dark">Log in</button>
            </div>
            <div class="form-group">
                <p>
                    <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                </p>
                <p>
                    <a class="nav-link nav-link-white active" href="/Identity/Account/Register">Register as a new user</a>
                </p>
            </div>
        </div>
    </form>
</div>