nav{
    background: #234467;
}

nav ul{
    text-align: center;
    top: 10px;
}

ul,body{
    margin: 0;
}

nav ul li{
    display: inline-block;
    margin: 15px;
}

nav ul li a{
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    color: white;
    text-decoration: none;
}